<h1 class="text-info text-center mt-4 display-1 "><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
  <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
</svg>
AURL</h1>
<p class="text-center">Short your URL</p>
<div class="container mt-4 p-4 shadow-lg">
    
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Enter the url here" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-primary" type="submit">Short url</button>
    </form>
    
    <table class="table  table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        {{#each body}}
        <tr>
          <td><a href={{full}}>{{full}}</a></a></td>
        <td><a href={{short}} target="_blank">{{short}}</a></td>
        <td>{{clicks}}</td>
        

        </tr>

        




        {{/each}}
      

  
      </tbody>
    </table>
  </div>